
.main_map{
   width: 1000px;
   height: 700px;
   margin: 0 auto;
   margin-top: 50px;
}

.popup {
   text-align: center;
   background-color: blanchedalmond;
   width: 250px;
   height: 180px;
   position: fixed;
   padding: 20px 10px;
}

.popup ul {
   text-align: left;
}

.popup ul li {
   margin-bottom: 5px;
}
