$primary: #244949;
$mobileSize: 768px;
@mixin flexCenter {
    display: flex;
    align-content: center;
    justify-content: center;
}
*{
    
    cursor: url("https://img.icons8.com/bubbles/50/000000/electrified-cursor.png"),default !important;

    
}
