@import "../../common.scss";
.MusicPlayer{
    opacity: 1;
    position: fixed;
    z-index: 300;
    top: 88%;
    left: 90%;
}

  .player__button {
    width: fit-content;
    margin-bottom: 15px;
    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
      svg {
        color: green;
      }
    }

    svg {
      font-size: 4em;
      color:rgba(0, 0, 0, 0.5);
    }
  }

  